[Unit]
Description=Splash Screen Animation
DefaultDependencies=no
After=systemd-vconsole-setup.service
Before=auto-installer.service

[Service]
Type=simple
ExecStart=/usr/local/bin/fb_video /usr/share/splash/loading.hevc
StandardOutput=null
StandardError=null
Restart=always

[Install]
WantedBy=sysinit.target
