# Configuration SSH pour minilinux
Port 22
AddressFamily any
ListenAddress 0.0.0.0

# Authentification : cle publique uniquement
PermitRootLogin prohibit-password
PasswordAuthentication no
PubkeyAuthentication yes
PermitEmptyPasswords no
ChallengeResponseAuthentication no

# Configuration host keys
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key

# Logging
SyslogFacility AUTH
LogLevel INFO

# Subsystems
Subsystem sftp /usr/libexec/sftp-server

# Misc
UsePAM no
X11Forwarding no
PrintMotd yes
